{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/homepage.css') }}">
{% endblock %}

{% block body %}
<p>Homepage</p>
{% endblock %}
