{% extends 'base.html.twig' %}

{% block title %} Szczegóły konta | Cyberbezpiecznyblog {% endblock %}

{% block body %}
    <header class="masthead" style="background-image: url('{{ asset('build/img/computer-content-control-data-270700.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <span class="subheading">Edycja komentarza</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 col-md-10 mx-auto order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        Zaktualizuj komentarz
                    </li>
                </ul>
                <div class="tab-content py-4">
                    {# Panel profilu uzytkownika #}
                    <div class="tab-pane active" id="comment">
                        {{ form_start(editForm) }}
                        {{ form_row(editForm.content) }}
                        {{ form_end(editForm) }}
                        <!--/row-->
                    </div>
                    {# Panel listy artyklów uzytkownika #}



                </div>
            </div>
        </div>
    </div>
{% endblock %}
