{# Widok odpwiedzialny za wyświetlanie strony głównej #}
{# Blok rozszerzający bazę widoków #}
{% extends 'base.html.twig' %}

{# Blok <body> strony #}
{% block body %}

    {# Nagłówek strony wraz ze zdjęciem i informacja o serwisie #}
    <header class="masthead" style="background-image: url('{{ asset('build/img/action-blur-close-up-73591.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="site-heading">
                        <h1>Serwis poświęcony</h1>
                        <span class="subheading">Treściom o Cyberbezpieczeństwie</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {# Kontener opisujący cel pracy, zadanie serwisu #}
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <i>
                        Celem pracy jest zaprojektowanie i implementacja serwisu do udostępniania treści o
                        cyberbezpieczeństwie.
                        <br>
                        Serwis jest dedykowany dla zwyczajnych użytkowników sieci Internet,
                        aby dzięki treściom tutaj zawartym wzrosła ich świadomość dotycząca zagrożeń w sieci.
                    </i>
                </p>
            </div>
        </div>
    </div>
{% endblock %}


